[submodule "rover_comms"]
	path = rover_comms
	url = git@github.com:CAVEMaN-SeniorDesign/rover_comms.git
	branch = agx_dev
[submodule "rover_description"]
	path = rover_description
	url = git@github.com:CAVEMaN-SeniorDesign/rover_description.git
	branch = agx_dev
[submodule "joint_state_publisher"]
	path = automation/joint_state_publisher
	url = https://github.com/ros/joint_state_publisher
	branch = ros2
[submodule "diagnostics"]
	path = automation/diagnostics
	url = git@github.com:ros/diagnostics.git
	branch = ros2-humble
[submodule "rtabmap_ros"]
	path = automation/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros
	branch = ros2
[submodule "rtabmap"]
	path = automation/rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "perception_pcl"]
	path = automation/perception_pcl
	url = https://github.com/ros-perception/perception_pcl
	branch = humble
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
	branch = ros2-master
[submodule "robot_localization"]
	path = automation/robot_localization
	url = git@github.com:cra-ros-pkg/robot_localization.git
	branch = humble-devel
[submodule "geographic_info"]
	path = automation/geographic_info
	url = git@github.com:ros-geographic-info/geographic_info.git
	branch = ros2
[submodule "navigation2"]
	path = automation/navigation2
	url = git@github.com:ros-navigation/navigation2.git
	branch = humble_main
[submodule "common_interfaces"]
	path = automation/common_interfaces
	url = git@github.com:ros2/common_interfaces.git
	branch = humble
[submodule "ros2_realsense"]
	path = ros2_realsense
	url = git@github.com:CAVEMaN-SeniorDesign/ros2_realsense.git
	branch = main
[submodule "bond_core"]
	path = bond_core
	url = git@github.com:ros2/geometry2.git
	branch = ros2
[submodule "geometry2"]
	path = automation/geometry2
	url = git@github.com:ros2/geometry2.git
	branch = humble

