[submodule "rover_comms"]
	path = rover_comms
	url = git@github.com:CAVEMaN-SeniorDesign/rover_comms.git
	branch = agx_dev
[submodule "rover_description"]
	path = rover_description
	url = git@github.com:CAVEMaN-SeniorDesign/rover_description.git
	branch = agx_dev
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
	branch = ros2-master
[submodule "ros2_realsense"]
	path = ros2_realsense
	url = git@github.com:CAVEMaN-SeniorDesign/ros2_realsense.git
	branch = main


