<robot name="rover">
    <sensor type="depth" name="camera_depth_sensor">
    <pose>0 0 0 0 0 0</pose>
    <update_rate>30</update_rate>
    <camera>
        <horizontal_fov>1.047</horizontal_fov> <!-- 60 degrees -->
        <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
        </image>
        <clip>
        <near>0.1</near>
        <far>10</far>
        </clip>
        <depth>
        <near>0.1</near>
        <far>10</far>
        </depth>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <camera_name>camera_depth</camera_name>
        <image_topic_name>/depth_camera/image_raw</image_topic_name>
        <camera_info_topic_name>/depth_camera/camera_info</camera_info_topic_name>
        <frame_name>rs_camera</frame_name>
        </plugin>
    </camera>
    </sensor>
</robot>